:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/*Header*/
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.navigation-list-link,
.navigation-contacts-list-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.navigation-list-link {
  color: #212121;
}
.navigation-contacts-list-link {
  color: #757575;
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.navigation-contacts-list-link:hover,
.navigation-contacts-list-link:focus {
  color: #2196f3;
}
