:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color-text: #757575;
  --secondary-color-text: #212121;
  --third-color-text: #ffffff;
  --accent-color: #2196f3;
}
body {
  background-color: #ffffff;
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--secondary-color-text);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

/*Header*/

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-part {
  color: var(--accent-color);
}
.navigation-list-link,
.navigation-contacts-list-link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.navigation-list-link {
  color: var(--secondary-color-text);
}
.navigation-contacts-list-link {
  color: var(--main-color-text);
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.navigation-contacts-list-link:hover,
.navigation-contacts-list-link:focus {
  color: var(--accent-color);
}

/*Hero Section*/

.hero-title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /*color: var(--third-color-text);*/
}
.modal-btn {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-color-text);
  background-color: var(--accent-color);
}

/*About us*/

.about-us-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color-text);
}
.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
}

/*what we do*/

.heading-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color-text);
}
.what-we-do-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /*color: var(--third-color-text);*/
}

/*Team*/

.teamate-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color-text);
}
.teamate-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
}
.team-list-social-item-link {
  background-color: #ffffff;
}
.team-list-social-item-link:hover,
.team-list-social-item-link:focus {
  background-color: var(--accent-color);
}
